@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

#root {
  width: 100%;
  height: 100%;
}
